.custom-file-input {
  color: transparent;
  float: left;
  overflow: hidden;
  outline: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select a game file';
  color: #fff;
  display: block;
  background-color: #444;
  border: 3px solid #444;
  border-radius: 4px;
  padding: 10px 5px 10px 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
}
.custom-file-input:hover::before {
  background-color: #000;
  border: 3px solid #000;
  outline: none;
}
.custom-file-input:active {
  outline: none;
  overflow: hidden;
}
.custom-file-input:active::before {
  outline: none;
}
.custom-file-input:focus::before {
  outline: none;
  border: 3px solid #3B83B3;
}

form button {
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  font-size: 20px;
  display: block;
  font-family: sans-serif;
  cursor: pointer;
  clear: both;
  top: 10px;
  position: relative;
}

.btn {
  background: #c334d9;
  background-image: -webkit-linear-gradient(top, #c334d9, #2980b9);
  background-image: linear-gradient(to bottom, #c334d9, #2980b9);
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: lighter;
}

.btn:hover {
  background: #952aa6;
  background-image: -webkit-linear-gradient(top, #952aa6, #1f5e85);
  background-image: linear-gradient(to bottom, #952aa6, #1f5e85);
  text-decoration: none;
}
